# =========================
# VS CODE
# =========================
.vscode/

# =========================
# WINDOWS
# =========================
Thumbs.db

# =========================
# MACOS
# =========================
.DS_Store

